*.ids
*.iml
*.ipr
*.iws
.csrepo
.gradle
.idea*
build
target
custom.properties
custom.properties*.my
out
logs
node_modules
package-lock.json
.env.development
.env.custom
.settings
.project
*.log
development.env.js
.vite
.vagrant
.classpath
cicd/config/vaults
.vscode
vault-*.password
.openapi-generator
